@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,900');
@import url('https://fonts.googleapis.com/css?family=Hind:300,400');

$heading-font: 'Montserrat', sans-serif;
$body-font: 'Hind', sans-serif;

$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-black: 900;

$primary-color: #FEC900;
$secondary-color: #8B6FBA;
$text-color: #848484;